<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 offset-md-4 col-lg-4 offset-lg-4">
    <form #f="ngForm" (ngSubmit)="enviar(f)">
      <div class="form-group">
        <input ngModel name="usuario" type="text" class="form-control" placeholder="Usuario">
      </div>
      <div class="form-group">
        <input ngModel name="password" type="password" class="form-control"  placeholder="Contraseña">
      </div>
      <button type="submit"  class="btn btn-primary">Acceder</button>
    </form>
  </div>
</div>
