<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><i class="fas fa-film"></i> Películas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <form #formulario="ngForm" (ngSubmit)="buscar(formulario)" novalidate class="form-inline my-2 my-lg-0">
          <input ngModel name="buscar" (change)="buscar(formulario)" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <a class="btn btn-outline-secondary" href="#" (click)="logout()" >Salir</a>
    </div>
  </div>
</nav>
